:root {
  --header-background: #2f2f2f;
  --note-background: #c4c4c4;
  --note-menu: #474747;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
}